<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.castle.android"
    android:versionCode="1"
    android:versionName="1.0"
    android:label="Castle Test">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <meta-data android:name="castle_publishable_key"
            android:value="pk_SE5aTeotKZpDEn8kurzBYquRZyy21fvZ"/>

        <activity android:name=".TestActivity"/>
    </application>

</manifest>
