<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.castle.android"
    android:versionCode="1"
    android:versionName="1.1.2"
    android:label="Castle">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".TestActivity"/>
    </application>

</manifest>
